# Core ML
lightgbm>=4.1.0
xgboost>=2.0.0
optuna>=3.4.0
scikit-learn>=1.3.0

# Data
pandas>=2.1.0
numpy>=1.26.0
pyarrow>=14.0.0          # parquet read/write

# Visualization
matplotlib>=3.8.0
seaborn>=0.13.0

# Notebook
jupyter>=1.0.0
ipykernel>=6.26.0

# Progress bars
tqdm>=4.66.0